$base-indent: 210;
$red-width: 350;
$red-padding-horizontal: 33px;
$row1-height: 422px;
$row2-height: 62px;
$container-width: 1000px;

.overview {
    background: linear-gradient(to right, $color-4 0%, $color-4 50%, $color-4 50%, $color-5 50%, $color-5 100%);

    .container {
        display: flex;
        width: $container-width;
        height: 520px;
        background-color: $color-5;

        .grid {
            display: flex;
            flex-direction: column;
            width: 650px;
            padding-top: 43px;
            padding-left: 47px;
        }

        .image-template {
            display: flex;
            align-items: center;
            justify-content: center;
            width: $red-width + px;
            height: inherit;
            overflow: hidden;
            background-color: $color-6;
        }

        h3 {
            margin-bottom: 44px;
            padding-left: 2px;
            font-size: 29px;
            font-weight: bold;
        }

        .underline {
            margin-bottom: 31px;
            padding-left: 1px;
            font-family: 'Open Sans', sans-serif;
            font-size: 19px;
            font-weight: 300;
            letter-spacing: .5px;
            line-height: 30px;
            text-decoration: underline $color-4;
            word-spacing: -.4px;

            p {
                margin: 0;
            }
        }

        .various-text-grid {
            display: grid;
            grid-column-gap: 40px;
            grid-row-gap: 40px;
            grid-template-columns: 254px 299px;
            grid-template-rows: 70px;
            line-height: 20px;

            .various-text {
                font-family: 'Open Sans', sans-serif;
                font-size: 14px;
                font-weight: 300;

                &.two {
                    margin-top: 1px;
                    line-height: 18.8px;
                }

                &.three {
                    grid-column: span 2;
                    padding-right: 50px;
                }
            }
        }
    }
}
